.home-hero{
    padding-top: 50px;
}
.home-hero-image{
    max-width: 50%;
    position: absolute;
    right: 0px;
}

.home-hero-title{
    color: #2977c9;
    font-size: 3.25rem;
    font-family: sans-serif;
}

.home-hero-button{
    width: 60%;
    height: 60px;
    margin-bottom: 10px;
    text-align: left;
    color: #000;
    border-color: #EEE;
    border-radius: 8px;
}

.home-hero-button:hover{
    background: #FFF;
    color: #000;
    border-color: #EEE;
    box-shadow: 2px 3px #E0E0E0;
}