.home-page-profile-widget{
    background: #FFF;
    border-radius: 5px;
    border: 1px #CCC solid;
}
.home-page-profile-widget-profile{
    border-bottom: 1px #DDD solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home-page-profile-widget-overview{
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-page-profile-widget-image-container{
    margin: 10px;
    text-align: center;
}

.home-page-profile-widget-image{
    border-radius: 50%;
    border: 1px #AAA solid;
}