.header-logo{
    color: #0a66c2;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2rem;
}

.header-join-cta{
    border: none;
    color: rgba(0,0,0,0.6);
}
.header-join-cta:hover{
    border: none;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.8);
}

.header-signin-cta{
    color: #0a66c2;
    border-color: #0a66c2;
    width: 100px;
    border-radius: 25px;
}

.header-signin-cta:hover{
    color: #0a66c2;
    border-color: #0a66c2;
    background: #c5d7e8;
    border-width: 2px;
    height: 36px;
    width: 100px;
    padding-top: 5px;
}

.header-right {
    padding-top: 5px;
}