.home-post-job-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e6ddda;
}

.home-post-job-section-title{
    color: #B24020;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.home-post-job-button{
    margin-top: 30px;
    border-radius: 25px;
    border-color: rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.home-post-job-button:hover{
    border-color: rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.2);
}