.home-suggested-searches{
    margin-top: 115px;
    padding-top: 175px;
    padding-bottom: 175px;
    background: #faf9f7;
}

.home-suggested-searches-title{
    font-size: 3rem;
    font-family: sans-serif;
}

.home-suggested-searches-button{
    border-radius: 25px;
    margin: 6px;
    border: none;
    background: #DDD;
}

.home-suggested-searches-button:hover{
    background: #AAA;
    color: #000;
}