body{
    font-family: sans-serif;
}

.sign-up-page{
    background: #EEE;
    min-width: 100%;
    min-height: 100vh;
}
.sign-up-page-container{
    text-align: center;
    padding-top: 25px;
}
.sign-up-logo{
    color: #0073b1;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
}

.sign-up-subtitle{
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 2.25rem;
}

.sign-up-page-form-container{
    text-align: left;
    margin-top: 20px;
    color: #777;
    padding: 25px;
    background: #FFF;
    border-radius: 5px;
}

.sign-up-password-field-container{
    padding-top: 15px;
}

.sign-up-page-button{
    margin-top: 15px;
    border-radius: 25px;
    background: #0073b1;
}

.sign-up-page-button:hover{
    background: #005290;
}

.sign-up-field-padding{
    padding-top: 15px;
}