.news-feed-comment-container{
    padding-top: 5px;
}
.news-feed-comment-text{
    padding: 10px;
    background: #EEE;
    border-radius: 8px;
    border-top-left-radius: 0px;
}
.news-feed-comment-user, .news-feed-comment-time{
    font-size: 14px;
}
.news-feed-comment-user{
    font-weight: bold;
}
.news-feed-comment-time{
    color: #AAA;
}
.news-feed-comment-react-button{
    padding: 1px 6px;
    color: #888;
    font-weight: bold;
    font-size: 12px;
}
.news-feed-comment-react-button:hover{
    background: #BBB;
}