.news-feed-post{
    background: #FFF;
    border-radius: 5px;
    border: 1px #CCC solid;
}

.news-feed-post-content{
    padding: 5px;
    font-size: 0.95em;
}

.news-feed-post-profile-image-container{
    padding: 5px;
}
.news-feed-post-profile-image{
    border-radius: 50%;
}
.news-feed-post-profile-container{
    padding-top: 10px;
    padding-left: 10px;
}
.news-feed-post-profile-container-master{
    padding-bottom: 5px;
}
.news-feed-post-actions-reaction-container{
    background: #FFF;
    border: 1px #CCC solid;
    border-radius: 25px;
    padding: 5px;
}
.news-feed-post-actions-reaction-container > .btn {
    background: none;
    border: none;
    border-radius: 50%;
}
.news-feed-post-actions-reaction-container > .btn:hover {
    background: #CCC;
    border-radius: 50%;
}

.news-feed-post-icon-green{
    color: green !important;
}
.news-feed-post-icon-red{
    color: red !important;
}
.news-feed-post-icon-yellow{
    color: #CCCC00 !important;
}
.news-feed-post-icon-pink{
    color: pink !important;
}
.news-feed-post-icon-gray{
    color: gray !important;
}

.news-feed-post-create-comment-container{
    margin-top: 15px;
}